:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C1C1C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gsans";
  src: url("/static/fonts/gsans-reg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gsans";
  src: url("/static/fonts/gsans-med.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gsans";
  src: url("/static/fonts/gsans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "jbm";
  src: url("/static/fonts/jbm-lgt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "jbm";
  src: url("/static/fonts/jbm-lgt-it.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "jbm";
  src: url("/static/fonts/jbm-reg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "jbm";
  src: url("/static/fonts/jbm-reg-it.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "jbm";
  src: url("/static/fonts/jbm-med.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "jbm";
  src: url("/static/fonts/jbm-med-it.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "jbm";
  src: url("/static/fonts/jbm-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "jbm";
  src: url("/static/fonts/jbm-bold-it.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
html, body {
  font-family: "gsans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1C1C1C;
  overflow: hidden;
}